

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://picsum.photos/id/180/2400/1600" alt="First slide">
      <a href="https://wwww.example.com">
        <div class="carousel-caption-custom d-md-block">
          <h3>Visit our Blog</3>
          <p>To learn all the news about SuperRentals!</p>
          <button class="btn btn-primary">Read now</button>
        </div>   
      </a>
    </div>
  </div>
</div>