body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'system-ui', Helvetica, Arial, sans-serif;
}

.main {
  min-height: 800px;
}

.card {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px
}

.card-body {
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.stage {
  width: 100%;
}

.stage-inner {
  max-height: 200px;
  overflow: hidden;
  display: flex;
}

.stage-link {
  color: #ffffff;
  display: block;
  position: relative;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.image {
  object-fit: cover;
  position: relative;
  z-index: -1;
  width: 100%;
}

.stage-caption {
  position: absolute;
  right: 5%;
  top: 20px;
  z-index: 10;
  padding: 20px 20px 20px 0;
  color: #fff;
  text-align: right;
  width: 300px;
}

.cta {
  margin-top: 15px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.header {
  height: 70px;
  -webkit-box-shadow: -3px 8px 15px -10px #000000; 
  box-shadow: -3px 8px 15px -10px #000000;
}

.header-inner {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: 'Roboto';
  color: black;
  cursor: pointer;
}

.link span {
  padding-left: 10px;
}

.hasIcon {
  display: flex;
  align-items: center;
}

.info-button .button.primary {
  display: inline-block;
  margin-top: 15px;
}

.info-inner {
  display: flex;
  max-width: 960px;
  border: 1px solid grey;
  border-radius: 15px;
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button {
  transition: 0.5s ease-in-out background-color;
  text-decoration: none;
  border: 0px solid black;
  display: block;
  padding: 7px 30px;
  border-radius: 7px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.button.primary {
  border: 0px solid black;
  background-color: black;
  color: white;
}

.button.primary:hover {
  background-color: #999999;
  color: black;
}

.button.cancel {
  border: 0px solid rgb(253, 229, 229);
  background-color: rgb(253, 229, 229);
  color: rgb(211, 0, 0);
  margin-left: 10px;
}

.button.cancel:hover {
  background-color: #f50000;
  color: white;
}

.button.danger {
  border: 0px solid rgb(211, 0, 0);
  background-color: rgb(211, 0, 0);
  color: rgb(248, 248, 248);
  margin-left: 10px;
}

.button.cancel:hover {
  background-color: white;
  color: rgb(211, 0, 0);
}

.card .button {
  display: inline-block;
} 

.footer {
  width: 100%;
  height: 100px;
  border: 0px solid black;
  bottom: 0;
  background-color: rgb(249, 249, 250);
  padding: 30px 0 0;
  margin-top: 30px;
}

.form-wrapper {
  border: 1px solid rgb(0, 0, 0);
  display: block;
  position: relative;
  min-height: 500px;
  border-radius: 10px;
  padding-top: 50px;
  margin-top: 20px;
}

.form-wrapper.edit {
  min-height: 650px;
}

.form-wrapper.delete .card {
  border-width: 0;
  display: flex;
}

.form-wrapper .card-img-top {
  max-width: 200px;
}

.form-group {
  display: flex;
  padding: 5px 0;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.form-group label {
 padding-right: 5px;
}

.form-control {
  border-radius: 5px;
  height: 30px;
}

.input-group-prepend {
  display: inline;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1fr);
}

@media screen and (min-width: 600px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
      grid-template-columns: repeat(3, 1fr);
  }
}